$primary-color:			#e32522;
$primary-color-border:	#c71117;
$secondary-color:		#f30c66;

$grey-light:			#eeeeee;

$font-color:			#5c5c5c;
$font-primary:			'Poppins', sans-serif;
$font-title:			'Open Sans Condensed', sans-serif;